.Footer {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: red;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    top: 0;
    min-height: 4rem;
}