
.logotop {
  height: 119px;
  padding-left: 10px;
  margin-top: 0px;
  background: linear-gradient(90deg, #dca2a2, #4c8291);
}
img {
  /* object-fit: scale-down; */
    height: 80%;
    width: 80%;
} 
.ant-layout-sider-children{ 
  background: linear-gradient(90deg, #dca2a2, #4c8291);
  min-height: 100vh;
}
.ant-menu-light{
  background: linear-gradient(90deg, #dca2a2, #4c8291);
}
.logotoiec{
  margin-top: 10px;
  width: 90%;
  height: 60%;
}